<footer>
    <a class="logo" href="{{ path('app_home') }}">
        <img src="{{ asset('images/logo-light.png') }}" alt="logo RoboStore">
    </a>

    <p>
        Ce site a été réalisé dans le cadre d'un projet de formation.
    </p>
    <p>
        Crédit images <a href="https://www.instagram.com/pablostanley">pablostanley</a>
    </p>
</footer>